
/*********************************
             Cosmos
*********************************/


.article-back {
    display: flex;
  p {
    @include textSize (16px, 78px, #666);
    margin-bottom: 0;
    img {
      height: 16px;
      margin-bottom: 3px;
    }
  }

}

.article-imgs {

  .white-bcc{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  .little-imgs {
    margin: 0;
    padding: 0;
    height: 20%;
    width: 100%;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      img {
        height: 63px;
width: 63px;
  overflow: hidden;
}
}
}
